body {
    background-color: black;
}

/* Por Etiqueta */
p {
    color: blue;
    font-size: 40px;
}

/* class */
.parrafo {
    color: red;
    font-size: 30px;
}

/* ID */
#texto {
    color: yellow;
    font-size: 24px;
}